<p id="notice"><%= notice %></p>
<title>eZange : Zange Profile</title>

  <h1>Zange Profile</h1>
<div style="float:left; width:300px;">
<p>
  <b>User name:</b>
  <%= @member.user_name %>
</p>
<p>
  <b>Religon:</b>
  <%= @member.religon %>
</p>
<p>
  <b>ZANGE:</b>
  <p>I want to ZANGE that...</p>
</p>

<% if @member.id == session[:member_id] %>
<p>
  <b>First name:</b>
  <%= @member.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @member.last_name %>
</p>

<p>
  <b>Password:</b>
  <%= @member.password %>
</p>

<p>
  <b>Street number:</b>
  <%= @member.street_number %>
</p>

<p>
  <b>Street name:</b>
  <%= @member.street_name %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @member.zipcode %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>
<% end %>
<p>
  <b>Education level:</b>
  <%= @member.education_level %>
</p>

<p>
  <b>Partner:</b>
  <%= @member.partner %>
</p>

<p>
  <b>Emloyment status:</b>
  <%= @member.emloyment_status %>
</p>

<p>
  <b>Age:</b>
  <%= @member.age %>
</p>

<p>
  <b>Number of children:</b>
  <%= @member.number_of_children %>
</p>


<br/>
<% if @member.id == session[:member_id] %>
<span class="label"><%= link_to 'Edit', edit_member_path(@member) %></span> |
<% end %>
<span class="label"><%= link_to 'Back', members_path %></span>


</div>
<div style="float:left; width:300px;">
<h2> Sins </h2>
<% @member = Member.find_by_id(params[:id]) %>
<% @sins = @member.sins %>
<% @sins.each do |s| %>
<p><%= s.title %></p>
<span class="label"><%= link_to 'view', :controller => 'sins', :action => 'show', :id => s.id  %></span><br/>
<% end %>
</div>
<div style="float:left; width:300px;">
<h2> Judgements </h2>

<% @member = Member.find_by_id(params[:id]) %>
<% @judgements = @member.judgements %>
<% @judgements.each do |j| %>
<p> <%= j.judgement %></p>
<span class="label"><%= link_to 'view', :controller => 'judgements', :action =>'show', :id => j.id %> </span>
<% if j.member_id == session[:member_id] %>
<span class="label"><%= link_to 'Destroy', [j.sin, j], :method => :delete, :data => { :confirm => 'Are you sure?'} %></span>
<% end %>
</br></br>
<% end %>
</div>



