<p id="notice"><%= notice %></p>

<p>
  <b>Member:</b>
  <%= @sin.member_id %>
</p>

<p>
  <b>Title:</b>
  <%= @sin.title %>
</p>

<p>
  <b>Sin date:</b>
  <%= @sin.sin_date %>
</p>

<p>
  <b>Sin time:</b>
  <%= @sin.sin_time %>
</p>

<p>
  <b>Sin street number:</b>
  <%= @sin.sin_street_number %>
</p>

<p>
  <b>Sin street name:</b>
  <%= @sin.sin_street_name %>
</p>

<p>
  <b>Sin city:</b>
  <%= @sin.sin_city %>
</p>

<p>
  <b>Sin state:</b>
  <%= @sin.sin_state %>
</p>

<p>
  <b>Sin zipcode:</b>
  <%= @sin.sin_zipcode %>
</p>

<p>
  <b>Sin country:</b>
  <%= @sin.sin_country %>
</p>

<p>
  <b>Sin:</b>
  <%= @sin.sin %>
</p>


<%= link_to 'Edit', edit_sin_path(@sin) %> |
<%= link_to 'Back', sins_path %>
