<h1>Login</h1>

<% if flash[:alert] %>
  <p style="color:green;">
    <%= flash[:alert] %>
  </p>
<% end %>

<%= form_tag do %>
<p>
Name: <%= text_field_tag :user_name, params[:user_name] %>
</p>
<p>
Password: <%= password_field_tag :password, params[:password] %>
</p>
<p>
<%= submit_tag "Login" %>
</p>
<% end %>

