<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @memeber.user_name %>
</p>

<p>
  <b>First name:</b>
  <%= @memeber.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @memeber.last_name %>
</p>

<p>
  <b>Password:</b>
  <%= @memeber.password %>
</p>

<p>
  <b>Street number:</b>
  <%= @memeber.street_number %>
</p>

<p>
  <b>Street name:</b>
  <%= @memeber.street_name %>
</p>

<p>
  <b>City:</b>
  <%= @memeber.city %>
</p>

<p>
  <b>State:</b>
  <%= @memeber.state %>
</p>

<p>
  <b>Zip code:</b>
  <%= @memeber.zip_code %>
</p>

<p>
  <b>Email address:</b>
  <%= @memeber.email_address %>
</p>

<p>
  <b>Religon:</b>
  <%= @memeber.religon %>
</p>

<p>
  <b>Education level:</b>
  <%= @memeber.education_level %>
</p>

<p>
  <b>Partner:</b>
  <%= @memeber.partner %>
</p>

<p>
  <b>Employment status:</b>
  <%= @memeber.employment_status %>
</p>

<p>
  <b>Age:</b>
  <%= @memeber.age %>
</p>

<p>
  <b>Number of children:</b>
  <%= @memeber.number_of_children %>
</p>


<%= link_to 'Edit', edit_memeber_path(@memeber) %> |
<%= link_to 'Back', memebers_path %>
